<a [routerLink]="['/home']"> < Back </a>


<h2>Add Product</h2>

<form id="formNewProduct" name = "formNewProduct" #productData = "ngForm" (ngSubmit) = "addNewProduct(productData.value)">

<label>Name:</label><input type="text" name="name" id="name" placeholder="name" ngModel><br>
<label>DueDate:</label><input type="text" name="duedate" id="duedate" placeholder="duedate" ngModel><br>
<label>Phonenumber:</label><input type="text" name="phonenumber" id="phonenumber" placeholder="phonenumber" ngModel><br>
<label>Address:</label><input type="text" name="address" id="address" placeholder="address" ngModel><br>
<input type="submit" value="Add Product">

</form>

<br>
<h3 *ngIf = 'isAdded' >{{confirmationString}}</h3>